body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.wesota-bg{
  background-color: #033848;
}

.cursor-pointer{
  cursor: pointer;
}

.notification{
  color: #ffffff;
  background-color: #ff3333;
  position: absolute;
  top: -7px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  line-height: 16px; 
  padding: 0 3px;
  text-align: center;
}

.ai::after{
  content: "";
  background-color: #33cc33;
  position: absolute;
  top: 5px;
  right: -16px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.vh-90{
  height: 90vh;
}
.vh-95{
  height: 95vh;
}

.reward-border{
  border-top: 2px solid #022e3b;
  border-bottom: 2px solid #022e3b;
}

.sidebar{
  overflow-y: auto;
}

.sidebar-menu .nav-tabs .nav-item.show .nav-link, .sidebar-menu .nav-tabs .nav-link.active{
  background-color: #022e3b;
  border-color: #022e3b;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.sidebar-menu .nav-tabs .nav-item .nav-link:hover{
  border: none;
  background-color: #022e3b;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.sidebar-menu .nav-tabs{
  border: none;
}

.states-dot::before{
  content: "";
  position: absolute;
  top: 5px;
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.active-state::before, .active-state::after{
  background-color: #33cc33;
}
.close-state::before{
  background-color: #ff3333;
}
.all-state::before{
  background-color: #6666ff;
}

.circle-border{
  border-radius: 50%;
  line-height: 18px; 
  padding: 0 3px;
}

.check-close-button{
  position: absolute;
  top: 10px;
  right: 10px;
}

.state-dot::before{
  content: "";
  position: absolute;
  top: 15px;
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.not-active::before, .not-active::after{
  background-color: #999;
}

.active-level{
  border-bottom: 2px solid #ff3333;
  color: #000;
}

.login-bg{
  background: linear-gradient(to right top, #033848, #0e5368);
}

.mod-border{
  border: 10px solid #033848;
}

.overflow-scroll{
  overflow: scroll;
}

.check:not(:first-of-type){
  margin-top: -16rem;
}

.menu-icon{
  width: 26px;
  height: 24px;
}

.blue-bg{
  background-color: #0494d5;
}

.ai-active::after{
  content: "";
  position: absolute;
  top: 5px;
  left: 55px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online-state::after{
  content: "";
  position: absolute;
  top: 7px;
  left: 120px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background: none;
  border-bottom: 3px solid coral;
  color: #000;
  border-radius: 0;
}

.nav-pills .nav-link{
  color: #666 ;
}

.page-link{
  color: #000;
  border: none;
}

.light-bg{
  background: #efefef;
}

.left-mod-window{
  position: fixed;
  z-index: 1000;
  left: 245px;
  bottom: 45px;
  overflow-y: scroll;
  width: 25vw;
  height: calc(100vh - 100px);
}

.right-mod-window{
  position: fixed;
  z-index: 1000;
  right: 10px;
  bottom: 45px;
  overflow: hidden;
  width: 25vw;
  height: calc(100vh - 100px);
}

.messenger-window{
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 108px);
}

.scrollable{
  overflow: scroll;
  display: block;
  flex-direction: column;
  flex: 1;
}

.body-mod{
  flex-grow: 1;
  flex-shrink: 0;
  min-height: 100%;
}



.grey-border{
  border-right: 1px solid #dee2e6;
}

/*for lg and smaller - tablets*/
@media (max-width: 1199px){

.menu-icon{
  width: 48px;
  height: 48px;
  }
.left-mod-window{
  position: fixed;
  bottom: 45px;
  left: 135px;
  width: 35vw;
  }
.right-mod-window{
  position: fixed;
  right: 10px;
  bottom: 45px;
  width: 35vw;
  }
}

/*for md and smaller - phones*/
@media (max-width: 767px){
.footer-menu .nav-tabs .nav-item.show .nav-link, .footer-menu .nav-tabs .nav-link.active{
  background-color: #022e3b;
  border-color: #022e3b;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }
  
.footer-menu .nav-tabs .nav-item .nav-link:hover{
  border: none;
  background-color: #022e3b;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }
.footer-row, .sidebar{
  display: none;
  }
.menu-icon{
  width: 22px;
  height: 20px;
  }
.personal-progress, .pro-progress, .team-progress {
  width: 100px;
  height: 100px;
  }
.left-mod-window{
    position: fixed;
    bottom: 65px;
    left: 5px;
    width: 300px;
    height: calc(100vh - 120px);
  }

.right-mod-window{
  position: fixed;
  right: 5px;
  bottom: 65px;
  width: 300px;
  height: calc(100vh - 120px);
}

.grey-border{
  border: none;
}
}